In [15]:
import pandas as pd

In [16]:
measure = pd.read_csv("Resources/hawaii_measurements.csv")
stations = pd.read_csv("Resources/hawaii_stations.csv")
clean_measure = measure.dropna(axis = 0, how = 'any').reset_index(drop = True)
clean_stations = stations.dropna(axis = 0, how = 'any').reset_index(drop = True)
clean_measure.to_csv("Hawaii_Measures_Clean.csv")
clean_stations.to_csv("Hawaii_Stations_Clean.csv")

In [17]:
clean_measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70